# Frontend - Netlify
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FUNCTIONS_BASE_URL=

# Backend - Firebase Functions Secrets
OPENAI_API_KEY=
AI_MODEL=gpt-4.1-mini
YOUTUBE_API_KEY=

# Futuro OAuth YouTube
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=
FRONTEND_URL=
INTERNAL_CRON_SECRET=
